.bg-dark {
    background-color: #969ba52c;
}

.text-white {
    color: white;
    font-weight: bold;
}

.custom-image {
    padding: 10px;
    border-radius: 20px;
    width: calc(100% - 20px);
}

.custom-buttons button,
.custom-buttons div {
    color: orange;
    border-color: orange;
}

.shopping-cart {
    background-color: #969ba52c;
    position: fixed;
    top: 0px;
    right: 10px;
}